/* COMMONS COMMONS COMMONS COMMONS COMMONS COMMONS COMMONS*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    overflow-y:hidden;
}

i {
    color: white;
    font-size: 18px;
}



/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER*/
header {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    margin-bottom: 40px;
}

header div {
    background-color: rgba(128, 128, 128, 0.616);
    margin: 0 5px;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 20px;
}



/*  MAIN MAIN MAIN MAIN MAIN MAIN MAIN  MAIN MAIN MAIN MAIN MAIN */
main {
    width: 100%;
    padding: 0 10px;
    overflow-y: scroll;
    height: 79vh;
}

main .row {
    display: flex;
}

.photo-card {
    width: calc(100% / 6);
    padding: 0 3px;
    position: relative;
}

main img {
    width: 100%
}

main i {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 3px;
    height: 30px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.363)
}

.row5 {
    display: flex;
    justify-content: center;
}



/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
footer {
    background-color: rgb(49, 49, 49);
    height: 90px;
    margin-top: 40px;
    font-size: 18px;
}

.column {
    display: flex;
    justify-content: space-between;
}

.icon {
    height: 100%;text-align: center;
}

.row-footer {
    display: flex;
    justify-content: space-between;    
    padding: 20px 0;
}

footer i {
    font-size: 40px;
    margin: 0 20px;
    cursor: pointer;
}

.button3 {
    padding-right: 30px;
    cursor: pointer;
    background-color: rgb(87, 87, 87);
    color: red;
    height: 90px;
    position: relative;
    bottom: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
}

